@import '../../../../styles/variables.scss';

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(#{--card-background-default});
  border-radius: 10px;
  padding: 10px;
  width: 149px;
  transition: 0.3s;
  cursor: pointer;

  .day {
    margin-bottom: 7px;
    font-size: 18px;
    color: var(#{--text-color-default});
  }

  .day__info {
    font-size: 14px;
    margin-bottom: 12px;
    color: $base-color;
  }

  .img {
    margin-bottom: 12px;
  }

  .temp__day,
  .temp__night {
    font-size: 13px;
    color: $base-color;
  }

  .temp__day {
    font-size: 18px;
    color: var(#{--text-color-default});
  }

  .temp__night {
    margin-bottom: 6px;
  }

  .info {
    font-size: 12px;
    color: var(#{--text-color-default});
    margin-top: 6px;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}
